input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 24px;
  height: 12px;
  background-color: hsl(223, 48%, 87%);
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 40px;
  width: 40px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 1px 1px 50px #10d5c2;
  border-radius: 50%;
  border: none;
  background-image: url("images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: #10d5c2;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 40px;
  width: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  border: none;
  background-image: url("images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
}

input[type="range"]::-moz-range-thumb:active {
  background-color: #10d5c2;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(16, 213, 193, 0.3);
}

input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(16, 213, 193, 0.3);
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(16, 213, 193, 0.3);
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(16, 213, 193, 0.3);
}

input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(16, 213, 193, 0.3);
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(16, 213, 193, 0.3);
}
